<app-create-content (newEvent)="cloneArray($event)"></app-create-content>
<div>
  <input type="text" #title/>
  <button (click)="searchTitle(title.value)">Search</button>
  <br>
  <p>{{indicator}}</p>
</div>
<app-content-card class="author" *ngFor="let itemList of listOfItems | asnThreePipe: 'author';" [content]="itemList"></app-content-card>
<app-content-card class="student" *ngFor="let itemList of listOfItems | asnThreePipe: 'student';" [content]="itemList"></app-content-card>
<app-content-card class="science" *ngFor="let itemList of listOfItems | asnThreePipe: 'Science';" [content]="itemList"></app-content-card>



